body {
    margin: 0;
    padding: 0;
}

.control-row {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    font-size: 18px;
    padding: 9px 20px;
}
.search-part {
    margin-left: 20px;
}

.posts-block {
    padding-top: 40px;
}
.post-date {
    font-style: italic;
}

.show-more {
    width: 10%;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 18px;
}

.one-post {
    border: 1px solid grey;
    padding: 0 15px;
}