<div>
    <div class="control-row">
        <span>Sort By:</span>
        <select ng-model="orderField">
            <option value="-created_date">Date</option>
            <option value="from.name">Author</option>
            <option value="message">Message</option>
        </select>

        <span class="search-part">Search:</span>
        <input type="text" placeholder="search" ng-model="searchValue"/>

        <button ng-click="showPosts('if')">Typical IF</button>
        <button ng-click=showPosts('google')>Google</button>
    </div>

    <div class="posts-block">
        <post ng-repeat="post in posts | orderBy: orderField | limitTo: limitPosts | search: searchValue"></post>
    </div>

    <button class="show-more" ng-click="showMore()">Show more posts</button>
</div>