<div class="one-post">
    <h3 ng-bind="post.from.name"></h3>
    <span class="post-date" ng-bind="post.created_time | date : 'dd MMMM HH:mm'"></span>
    <p class="post-message" ng-bind="post.message"></p>
    <p ng-if="post.link"><a ng-href="{{post.link}}" ng-bind="post.link"></a></p>
</div>